@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

.formCon {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 30%;
	height: 500px;
}

.formConOne {
	border: 1px solid red;
	display: flex;
	justify-content: center;
}

.formConTwo {
	border: 1px solid red;
}

body {
	display: flex;
	justify-content: center;
}

.registerTable {
	width: 100%;
}